---

---

<form class='mt-8' name='contact-form' method='POST' data-netlify='true' data-netlify-recaptcha='true'>
  <div class='grid grid-cols-1 gap-6'>
    <div>
      <label for='name' class='block text-sm font-medium text-yellow-200'>Name</label>
      <div class='mt-1'>
        <input
          type='text'
          id='name'
          name='name'
          class='py-2 px-3 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'
          placeholder='Enter your name'
          required
        />
      </div>
    </div>
    <div>
      <label for='email' class='block text-sm font-medium text-yellow-200'>Email</label>
      <div class='mt-1'>
        <input
          type='email'
          id='email'
          name='email'
          class='py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'
          placeholder='Enter your email'
          required
        />
      </div>
    </div>
    <div>
      <label for='subject' class='block text-sm font-medium text-yellow-200'>Subject</label>
      <div class='mt-1'>
        <input
          type='text'
          id='subject'
          name='subject'
          class='py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'
          placeholder='Subject'
          required
        />
      </div>
    </div>
    <div>
      <label for='message' class='block text-sm font-medium text-yellow-200'>Message</label>
      <div class='mt-1'>
        <textarea
          id='message'
          name='message'
          rows='4'
          class='py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md resize-none'
          placeholder='Enter your message'
          required></textarea>
      </div>
    </div>
    <div data-netlify-recaptcha='true'></div>
    <div id='error' class='font-bold'></div>
    <div>
      <button
        type='submit'
        id='submitFormBtn'
        class='inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-gray-900 bg-white'>
        Send Message
      </button>
    </div>
  </div>
</form>

<script>
  // const submitFormBtn = document.getElementById('submitFormBtn')
  // submitFormBtn?.addEventListener('click', async (e) => {
  //   e.preventDefault()

  //   if (!name || !email || !message || !subject) {
  //     errorElement!.textContent = 'Please fill in all fields.'
  //     errorElement?.classList.add('text-red-800', 'bg-white', 'p-2', 'rounded-md')
  //     setTimeout(() => {
  //       errorElement!.textContent = ''
  //       errorElement?.classList.remove('text-red-800', 'bg-white', 'p-2', 'rounded-md')
  //     }, 5000)
  //     return
  //   }

  //   //reset form in case of success
  //   ;(document.getElementById('name') as HTMLInputElement).value = ''
  //   ;(document.getElementById('email') as HTMLInputElement).value = ''
  //   ;(document.getElementById('message') as HTMLTextAreaElement).value = ''
  //   ;(document.getElementById('subject') as HTMLTextAreaElement).value = ''
  //   // show success message
  //   errorElement!.textContent = 'Message sent successfully.'
  //   errorElement?.classList.add('text-green-800', 'bg-white', 'p-2', 'rounded-md')
  //   setTimeout(() => {
  //     errorElement!.textContent = ''
  //     errorElement?.classList.remove('text-green-800', 'bg-white', 'p-2', 'rounded-md')
  //   }, 5000)
  // })
</script>
