---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
  {
    date: 'June 2023 - August 2023',
    title: 'Junior Software Developer - Soluciones Electrónicas SIMTRO',
    description:
      'Participation in the UI development of a SaaS that works as a shooting simulator, used by the Mexican Ministry of National Defense (SEDENA).  Assistance in the integration of new UI functionalities to the simulator, increasing client performance by 10%. Resolution of small bugs/errors in the UI of the application.',
  },
]
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
