<footer class='rounded-lg shadow m-4 bg-black/5 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10'>
  <div class='w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between'>
    <span class='text-sm sm:text-center text-yellow-200/90'
      >© 2024 <a href='https://github.com/CodeBreaker518' target='_blank' rel='noreferrer noopener' class='hover:underline'
        >CodeBreaker518</a
      >. Almost all rights reserved
    </span>
    <ul class='flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0 text-white'>
      <li><a href='#' class='hover:underline me-4 md:me-6'>About Me</a></li>
      <li><a href='#contact' class='hover:underline'>Contact</a></li>
    </ul>
  </div>
</footer>
